
<article class="user-product">
  <h1>음반 목록</h1>
<form action="/products" method="GET" class="search-form">
  <input type="text" name="search" placeholder="검색">
  <select name="genre">
    <option value="">전체</option>
    <option value="피아노">피아노</option>
    <option value="성악">성악</option>
    <option value="관현악">관현악</option>
    <option value="기타">기타</option>
  </select>
  <button type="submit">검색</button>
</form>
<ul class="album1-list">
  <% albums.forEach(album => { %>
    <li class="album1-item">

      <% if (album.coverImage) { %>
        <div class="album1-image">
          <img src="/img/<%=album.coverImage %>" alt="<%= album.title %>" width="200" height="200">
        </div>
      <% } %> <div class="album1-details">
        <strong>제목: <%= album.title %></strong><br>
        아티스트: <%= album.artist %><br>
        장르: <%= album.genre %><br>
        가격: <%= album.price %>원<br>
      </div>
    </li>
  <% }) %>
</ul>
</article>